@import "resets.css";

button,
a,
input[type="submit"] {
  border: none;
  background-color: #1da1f2;
  padding: 5px 20px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  font-size: 15px;
}

h1,
h2,
h3,
p,
div,
a,
button {
  font-family: sans-serif;
}
